
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* \reset */

*, html {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: normal;
}




body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393E46;
  background: url('https://renegadosdocod.vercel.app/bg-renegados.jpg');
  background-size: cover;
  background-position: center;
}
.main__container {
  width: 414px;
  height: 100vh;
}
.main__inner {
  height: 100%;
}
.main__btn-container {
  border-radius: 40px 40px 0 0;
  background-color: #000000d6;
  flex: auto;
  max-width: 414px;
  justify-self: stretch;
  justify-content: space-between;
  padding: 36px;
  padding-top: 64px;
  margin-top: 64px;
  box-sizing: border-box;
  height: 500px;
}
h1,
p {
  color: #fff;
  /* font-family: Roboto, sans-serif; */
}
h1 {
  font-size: 22px;
  font-weight: bold;
}
p {
  font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.btn {
  border: none;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  height: 50px;
  margin-top: 24px;
  transition: 0.2s ease-in;
  outline: none;
  
}
.filled-btn {
  background-color: #DD3C4B;
  color: #fff;
}
.filled-btn:hover {
  background-color: #BD2836;
}
.filled-btn:active {
  background-color: #BD2836;
}
.stroke-btn {
  background-color: #a50002;
    border: solid 1px #ffffff00;
    color: #ffffff;
}
.stroke-btn:hover {
  background-color: #1A1E23;
  border-color: #BD2836;
  color: #BD2836;
}
.stroke-btn:active {
  background-color: #1A1E23;
  border-color: #BD2836;
  color: #BD2836;
}
.social-media__container {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
}
.social-media__wrapper {
  width: 248px;
  margin: 0 36px;
}
.image__container {
  margin-top: 40px;
  margin-bottom: 20px;
}
.social-media {
  color: #fff;
  width: 32px;
  height: 32px;
  font-size: 32px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.social-media--kwai {
  background-color: #ff7801;
}
.social-media--kwai:hover {
  background-color: #980326;
}
.social-media--kwai:active {
  background-color: #ff7801;
}
.social-media--whatsapp {
  background-color: #8e9511;
}
.social-media--whatsapp:hover {
  background-color: #25d366;
}
.social-media--whatsapp:active {
  background-color: #05080B;
}
.social-media--instagram {
  background-color: #9147ff;
}
.social-media--instagram:hover {
  background-color: #4c003e;
}
.social-media--instagram:active {
  background-color: #9147ff;
}
.social-media--tiktok {
  background-color: #000000;
}
.social-media--tiktok:hover {
  background-color: #270000;
}
.social-media--tiktok:active {
  background-color: #320101;
}


.btn-animate-gradient {
  
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #ffa63d, #930303, #ec0c04, #f1cd04);
  background-size: 600%;
  -webkit-animation: anime 7s linear infinite;
          animation: anime 7s linear infinite;
}
@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
